.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar {
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 0.4s ease-in-out, height 0.6s ease;
  height: auto;
}

.sidebar.centered {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

body.dark-mode .sidebar {
  background: rgba(25, 35, 50, 0.9);
}

body.light-mode .sidebar {
  background: rgba(255, 255, 255, 0.8);
}

.submenu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submenu button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submenu button:hover {
  background-color: #0056b3;
}
